.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #1c1f2f;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputCol {
  display: flex;
  text-align: left;
  flex-direction: column;
  color: darkgray;
  margin: 10px;
}

.input {
  border: 1px solid #5f67ae;
  background-color: #23283d;
  color: darkgray;
  padding: 5px;
}

.input[type="date"] {
  padding: 2.5px;
}

label {
  font-size: 12px;
  margin-left: 4px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
